<% if flash[:danger] %>
  <p><%= flash[:danger] %></p>
<% end %>
<h1>投稿編集</h1>
　<%= form_with(model: @tweet, local: true) do |f|  %>
　　<%= f.label :name %>
　　<%= f.text_field :name, class: 'container' %>
　　<%= f.label :content %>
　　<%= f.text_area :content, class: 'container' %>
　　<%= f.submit "編集する", class: "btn btn-primary" %>
　<% end %>